.register-page { width:99.8%; display: block; }
.sub-entry-layer { padding-top: 10px; padding-left: 5px; padding-bottom:15px; }
.register-success-table { font-size: 1.5rem; }
.info-label { font-size: 1.2rem; }
