<!DOCTYPE html>
<html>
	<head>
		<title>Verification</title>
		<%- include('../asset/meta') %>
		<%- include('../asset/styleserror') %>		
	</head>
	<body class="portalbody portalbody-off" style="margin:0px; font-size:1rem; font-weight:400;line-height:1.5;">
		<div id="ptsearchpager" class="pt-page pt-page-current pt-page-controller">
			<div class="header-layer">
				<h1 class="page-header-title" style="margin-top:0px; margin-bottom:0.5rem;">
					<label>Verification</label>
				</h1>
			</div>
			<div id="searchpanel" class="panel-body">
				<div id="messagepanellayer" class="message-panel-class">
					Sorry, Information not found.
				</div>
				<br/>
				<div id="gobacklayer" class="goback-class">
					<a href="javascript:window.history.back();">Go Back</a>
				</div>
			</div>
		</div>
	</body>
</html>
