<!DOCTYPE html>
<html>
	<head>
		<title>Authenticator</title>
		<link href="<%=meta.cdn_url%>/css/base_style.css" rel="stylesheet" type="text/css"></link>
		<link href="<%=meta.cdn_url%>/css/user_style.css" rel="stylesheet" type="text/css"></link>
	</head>
	<body style="background-color: whitesmoke;">
		<br/><br/>
		<div style="text-align:center;">
			<h1>Scan QR Code add to Google Authenticator</h1>
		</div>
		<br/><br/>
		<div style="text-align:center;">
			<img id="qrimg" src="<%=data.dataset?.factorimage%>"/>
		</div>
		<br/><br/>
	</body>
</html>