<div id="page_register_success" class="entry-layer page-layer fa-hidden">
	<div class="row portal-area sub-entry-layer">
		<table width="100%" class="register-success-table">
			<tbody>
				<tr class="rclass">
					<td height="50">&nbsp;</td>
				</tr>
				<tr class="rclass">
					<td align="center" height="30"><label class="lclass" id="registnew_label" required="false"><%=label.get('registernew_label','New account register success')%></label></td>
				</tr>
				<tr>
					<td align="center" height="30"><label class="lclass" id="registmsg_label" required="false"><%=label.get('registermsg_label','Please verify your email for new accessor')%></label></td>
				</tr>
				<tr>
					<td align="center" height="30"><a href="javascript:void(0)" id="loginlink"><%=label.get('registlogin_label','Log In')%></a></td>
				</tr>
			</tbody>
		</table>
	</div>	
</div>		
